 * {
    box-sizing: border-box;
 }
body {
    background:#F3F5FC;
    font-family: 'Inter', sans-serif;
}
header {
    width: 100%;
    padding: 50px 0 25px 110px;
}
header img {
    width: 30px;
    height: 38px;
}
/*header fim */
main {  
    padding: 0 125px;
    width: 100%;
    height: 100%;
    
}
.flex-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.flex-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.column {
    flex-wrap: nowrap;
    flex-direction: column;
}
.parte-um {
    width: 50%;
    height: 100%;
}
.parte-um label {
    color: #495057;
    font-size: 20px;
    flex-direction: column;
}
.parte-um p {
    margin: 30px 20px;
    font-size: 25px;
    width: 100%;
}
textarea {
    outline: 0;
    resize: none;
    border: none;
    width: 100%;
    height: auto;
    font-size: 32px;
    line-height: 48px;
    background:#F3F5FC;
}
#copy {
    align-self: flex-end;
    padding: 20px 25px;
    margin: 20px 25px;
    background: #0A3871;
    font-size: 23px;
    border: none;
    font-weight: bold;
    color: #fff;
    cursor:pointer;
    border-radius: 20px;
}
#copy:hover {
    background: #024699;
}
#copy:active {
    transform: scale(0.9);
}
.botao {
    padding: 20px 25px;
    margin: 20px 25px;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    border: none;
    cursor:pointer;
    background: #0A3871;
    border-radius: 20px;
}
.parte-um .botao:hover {
    background-color: #024699;
}
.parte-um .botao:active {
    transform: scale(0.9);
}
.parte-dois {
    width: 50%;
    margin-bottom: 35px;
    max-width: 400px;
    min-height: 750px;
    border-radius: 50px;
    background: #fff;
}
.parte-dois textarea {
    resize: none;
    margin: 25px 0 20px 0px;
    width: 98%;
    height: 80px;
    background: none;
}
.parte-dois img {
    margin: 15px auto;
    width: 100%;
    height: 100%;
    max-width: 304px;
    height:30%;
}
.parte-dois p {
    font-size: 25px;
    padding: 20px 15px 100px 15px;
    text-align: center;
}
